* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #111;
  color: #ffcd00;
  font-size: 20px;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

/* Utils */

::selection {
  background: #d3c013;
  color: #000;
}

::-moz-selection {
  background: #d3c013;
  color: #000;
}

hr {
  background: #ffcd00;
  height: 1px;
  border: none;
  margin-bottom: 15px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.input,
.btn {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  outline: none;
}

.input {
  background-color: #111;
  border: 1px solid #111;
  color: #ffcd00;
  margin-right: 1rem;
}

.input:focus {
  border-color: #ffcd00;
}

.btn {
  background-color: #111;
  border: 1px solid #ffcd00;
  color: #ffcd00;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: #ffcd00;
  color: #000;
  border: 1px solid #ffcd00;
  transition: all 0.15s ease-out;
}

/* Header */

.icon {
  color: #ffcd00;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.heading {
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  padding: 2rem;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 171px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* Instructions */

.instruction-container {
  margin: 0 1rem 3rem 1rem;
}

.instruction-text {
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: right;
  font-family: "Cormorant Garamond", serif;
  color: #fdfacc;
}

/* Text Generator Box  */

.box {
  padding: 0 1rem 2rem 1rem;
  margin: 0 1rem 0 1rem;
  background-color: black;
  box-shadow: 32px 30px 0px 0px #ffcd00;
  -webkit-box-shadow: 32px 30px 0px 0px #ffcd00;
  -moz-box-shadow: 32px 30px 0px 0px #ffcd00;

  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  max-width: 100%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10px 2rem 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 100%;
  padding: 10px;
}

/* Footer */

.footer {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.footer-navlink {
  padding: 10px;
  color: #ffcd00;
}

.nav-link {
  text-decoration: none;
  color: #ffcd00;
}

/* Startup Animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Media Queries */

@media screen and (max-width: 900px) {


  .heading {
    font-size: 2rem;
    padding-right: 0;
  }

  .instruction-text {
    font-size: 1rem;
  }

  .logo {
    width: 180px;
    height: 171px;
  }

  .box {
    box-shadow: none;
  }

  .footer {
    padding-top: 5rem;
  }

  .footer-nav {
    font-size: 10px;
  }

  .content-container {
    font-size: 0.8rem;
  }

  .input,
  .btn {
    font-size: 10px;
    padding: 0.3rem 1.3rem;
    width: 90%;
  }

}

@media screen and (max-width: 760px) {
  .logo {
    width: 150px;
    height: 141px;
  }

  .instruction-text {
    font-size: 0.8rem;
  }

  .footer-nav {
    font-size: 8px;
  }

   .footer {
    padding-top: 3rem;
  }
}